/* ____________________ General Font Settings ____________________ */

h1, h2, h3 {
    font-family: 'Philosopher';
}

h1 {
    font-size: 25px;
}

h2 {
    font-size: 20px;
}

h3 {
    font-size: 18px;
}

p, label {
    font-size: 14px;
    font-family: 'Lora';
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: #0C6275;
}

/* ____________________ Nav Bar ____________________ */

.navbar {
    background-color: #91B3BC;
    max-height: 112px;
}

.logo {
    padding: 0.5rem;
}

#account {
    margin-right: -7.5rem;
}

#cart { 
    margin: 4.1rem 0.8rem 0rem 0rem;
    padding-left: 1rem;
}

.cartIcon {
    padding-left: 0.5rem;
}

#menu {
    margin-top: 4rem;
}


.login-link {
    color: #707070;
    font-family: 'Lora';
    align-items: flex-end;
}


.menuHeader {
    background-color: #4D385F;
    color: white;
    padding: 3px;
    text-align: center;
}

/* removes dropdown menu arrow */
.dropdown-toggle::after {   
    border: none;
} 

/* removes dropdown menu top padding */
.dropdown-menu {
    padding: 0;
  }

  /* ____________________ Categories (homepage) ____________________ */

.home-img {
    border-color: black;
    border-style: solid;
}

.card-img-top {
    width: auto;
}

.home-row, .home-col {
   padding: 30px 0px;
}

.home-links {
    background-color: black;
    text-align: center;
    padding: 10px;
    width: 300px;
}

/* ____________________ Listings ____________________ */

.card-img {
    border: black;
    border-style: solid;
    border-width: 5px;
}

.card-contain {
    margin: 25px 0px;
}

.card-title, .card-title-original {
    color: #1D3A66;
    text-decoration: underline;
    margin: 15px 0px;
}

.card-title-original {
    margin-top: 25px;
}

.status {
    margin: 5px 50px;
}

hr {
    color: #91B3BC;
    margin: auto;
    width: 120px;
}

hr:not([size]) {
    height: 2px;
}

.list-links {
    margin-top: 25px;
}
.wishlist-link, .cart-link {
    background-color: black;
    width: 100%;
    padding: 5px;
    margin-bottom: 1px;
}

.cart-link {
    padding: 12px;
}

/* ____________________ Custom Radio Buttons (for all listings) */

.card-text-radio {
    display: block;
    position: relative;
    padding-left: 35px;
    margin: 5px 50px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default radio button */
  .card-text-radio input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  
  /* Create a custom radio button */
  .checkmark {
    position: absolute;
    top: 3px;
    left: 0;
    height: 15px;
    width: 15px;
    background-color: white;
    border: #4D385F;
    border-style: solid;
    border-width: 1px;
  }
  
  /* On mouse-over, add background color */
  .card-text-radio:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the radio button is checked, add new background */
  .card-text-radio input:checked ~ .checkmark {
    background-color:#0C6275;
  }
  
  /* Create the indicator (the dot - hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the indicator dot when checked */
  .card-text-radio input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the indicator */
  .card-text-radio .checkmark:after {
      top: 4px;
      left: 4px;
      width: 5px;
      height: 5px;
      background: white;
  }

/* ____________________ Flip Cards */

  .flip-card {
    background-color: transparent;
    width: 250px;
    height: 375px;
    perspective: 1000px;
    margin: 50px 0px;
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .flip-card-front {

  }
  
  .flip-card-back {
    background-color: white;
    color: black;
    transform: rotateY(180deg);
  }



/* ____________________ Login ____________________ */


/* ____________________ Logout ____________________ */


/* ____________________ Signup ____________________ */


/* ____________________ Reset (password) ____________________ */


/* ____________________ Forgot (password) ____________________ */


/* ____________________ Terms & Conditions ____________________ */


/* ____________________ Wishlist / Cart ____________________ */

.sidebar1-cart {/* Info can be found in About section */}

.wish-card-outter, .cart-card-outter {/* Info can be found in About section */}

.cart-row {
    margin-left: -50px;
}

.cart-sidebar1 {
    margin: 30px 0px;
}

.cartItems {
    text-align: right;
    color: white;
    margin: 10px 40px;
}

.hr2 {
    width: 240px;
    opacity: 100;
}

.checkout-link {
    background-color: #1D3A66;
    text-align: center;
    padding: 5px;
    margin: 100px 60px 10px;
}

.wish-card-inner, .cart-card-inner  {
    width: 300px;
    height: 125px;
    border: black;
    border-style: solid;
    border-width: 3px;
    margin: 30px 0px;
}

.wish-thumbnail, .cart-thumbnail {
   float: left;
   border: black;
   border-style: solid;
   margin: 10px 10px 10px 10px;
}

.wish-content, .cart-content {
    margin: 8px;
}

.wish-item, .cart-item {
    text-decoration: underline;
}

.wish-itemInfo, .cart-itemInfo {
    margin-top: 10px;

}

.wish-cartLink, .cart-cartLink {
    background-color: #4D385F;
    text-align: center;
    color: white;
    width: 190px;
    margin: 27px 0px 0px 85px;  
}


/* ____________________ Checkout ____________________ */


/* ____________________ Checkout Review ____________________ */


/* ____________________ About ____________________ */

.sidebar1, .sidebar1-cartTop {
    background-color: #0C6275;
    width: 300px;
    height: calc(100vh - 80px - 112px);
}

.about-links {
    margin-left: 65px;
}

.behanceIcon, .gitIcon, .linkedIN-Icon {
    margin: 35px 5px;
}

.behance, .github, .linkedIN {
    font-family: 'Lora';
    font-size: 12px;
}

.aboutME {
    margin: 50px 0px;
}

.about-card, .wish-card-outter, .cart-card-outter {
    margin-left: 30px;
    border: none;
}

.col-innerA {
   max-width: 200px;
}

.about-img {
    border: black;
    border-style: solid;
    border-width: 4px;
    margin-bottom: 20px;
}

.name {
    color: #0C6275;
    text-decoration: underline;
}

.about-content {
    color: #4D385F;
    margin-right: 40px;
}

.sidebar2 {
    background-color: #0C6275;
}

/* ________________________________________ @media screen adj for sidebar */

@media screen and (max-width: 768px) {
    .cart-row {
        margin-left: -15px;
    }

    .sidebar1 {
        display: none !important;
    }

    .aboutME {
        padding: 0px;
    }

    .col-innerB {
        padding-right: 25px;
    }

    .sidebar2 {
        width: 92%;
    }

    .behanceIcon, .gitIcon, .linkedIN-Icon {
        margin: 3px 20px;
    }

}

@media screen and (max-width: 576px) {
    .col {
        flex: none;
    }
    .sidebar2 {
        width:82%
    }

    .sidebar1-cartTop {
        display: none !important;
    }

    .sidebar1-cartBot {
        background-color: #0C6275;
        width: 100%;
        height: fit-content;
    }
}

@media screen and (min-width: 769px) {
    .sidebar2 {
        display: none !important;
    }
}

@media screen and (min-width: 577px) {
    .sidebar1-cartBot {
        display: none !important;
    }
}

/* ____________________ Contact / Reviews / Shipping ____________________ */

.contactHeading {
    color: #0C6275;
    text-align: center;
}

.contactHeading, .reviewHeading {
    text-decoration: underline;
    margin: 30px auto;
}

.contactSubHead, .reviewSubHead {
    text-align: center;
    width: 320px;
    margin: 0px auto 30px;
}

        .addReview {
            margin: auto;
            width: 100px;
            background-color: #91B3BC;
            text-align: center;
            padding: 5px;
        }

                    .shipping-contain {
                        margin: auto;
                    }

.contact-row {
    margin-bottom: 40px;
}

.review-row {
    margin: 30px 0px;
}

.contact-col, .shipping-col {
    min-width: 200px;
    max-width: 360px;
    margin: 5px;
    background-color: #1D3A66;
}

        .review-card {
            max-width: 320px;
            margin: 20px;
            background-color: #1D3A66;
        }

.contact-title, .review-title, .shipping-title {
    color: white;
    text-decoration: underline;
    padding: 20px 20px 5px;
}

.contact-content, .review-content {
    color: #91B3BC;
    padding: 0px 20px;
}

                        .shipping-content {
                            color: #91B3BC;
                            padding: 0px 20px;
                        }

        .star {
            color:white;
            font-size: 20px;
        }

        .star_rating {
            padding: 0px 20px 5px;
            display: inline;
        }

        .date {
            color: #91B3BC;
            display: inline;
        }

                        .shipping-calc {

                        }
                        
                        .estimates {
                            text-align: center;
                        
                        }

/* ____________________ New Review ____________________ */


/* ____________________ new review star settings ____________________ */

.star-rating {
    display: flex;
    align-items: center;
    width: 160px;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin: 40px auto;
    position: relative;
  }
 
  .star-rating input {
    display: none;
  }
 
  .star-rating > label {
    width: 30px;
    height: 30px;
    font-family: Arial;
    font-size: 30px;
    transition: 0.2s ease;
    color: #adebfa;
  }
 
  .star-rating label:hover {
    color: #2a5d72;
    transition: 0.2s ease;
  }

  .star-rating label:active::before {
    transform:scale(1.1);
  }
  
  .star-rating label::before {
    content: '\2606';
    position: absolute;
    top: 0px;
    line-height: 26px;
  }

  .star-rating input:checked ~ label:before {
    content:'\2605';
  }

  
  @-moz-document url-prefix() {
    .star-rating input:checked ~ label:before {
    font-size: 36px;
    line-height: 21px;
    }
  }  


/* ____________________ Admin Dashboard ____________________ */


/* ____________________ New Category ____________________ */


/* ____________________ New Listings (paint, ink, digital) ____________________ */





/* ____________________ Footer ____________________ */

.copyright {
    color: #707070;
    padding-top: 1.75rem;
    text-align: center;
    margin-bottom: 0;
}

body {
    min-height: 100vh;
    display: flex;   
    flex-direction: column;
  }
  
footer {
    background-color: #91B3BC;
    height: 80px;
    margin-top: auto;
}
